@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wdth,wght@62.5..100,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'SilverStone-Regular';
		font-style: normal;
		font-display: swap;
		src: url('/fonts/SilverStone-Regular.ttf') format('truetype');
	}
	@font-face {
		font-family: 'SilverStone-Rough';
		font-style: normal;
		font-display: swap;
		src: url('/fonts/SilverStone-Rough.ttf') format('truetype');
	}
}

.noto-serif-thai {
  font-family: "Noto Serif Thai", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.ibm-plex-sans-thai-thin {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 100;
	font-style: normal;
}

.ibm-plex-sans-thai-extralight {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 200;
	font-style: normal;
}

.ibm-plex-sans-thai-light {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.ibm-plex-sans-thai-regular {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.ibm-plex-sans-thai-medium {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.ibm-plex-sans-thai-semibold {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 600;
	font-style: normal;
}

.ibm-plex-sans-thai-bold {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 700;
	font-style: normal;
}  
  path {
	fill: red;
  }